body {
  background-color: black;
  color: white;
  font-family: 'Farro', sans-serif;
}

#heading-box {
  width: 100%;
  text-align: center;
  font-size: 4em;
}

#schedule-box {
  background-color: white;
  padding-top: 20px;
  border-radius: 10px;
  color: black;
  width: 70%;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 30px;
}

#schedule-box-heading {
  background-color: black;
  color: white;
  display:block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

#schedule-box-contents { 
 padding: 0 20px 20px 20px;
}

#preferredtime {
  font-size: 20px;
  position: relative;
  top: -3.5px;
}

#schedule-box-timeformat {
  border: 6px solid black;
  padding: 1px 7px;
  text-align: center;
  border-radius: 10px;
}

#footer {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
  width: 70%;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 30px;
}

@media (max-device-width: 480px) {
  body {
    width: 100%;
    margin: 0;
    background-color: white;
  }

  #schedule-box {
    background-color: white;
    color: black;
    width: 100%;
    font-size: 1.7em;
    margin: 0 auto;
    border-radius: 0;
    height: 97.3%;
  }

  #schedule-box-timeformat {
    display: none;
  }

  #footer {
    display: none;
  }

  #message {
    display: none;
  }

  .scheduleitem span::after {
    content:"\a";
    white-space: pre;
  }

  .scheduleitem {
    margin-bottom: 28px;
    text-align: center;
  }

  .scheduleitem div {
    border: 2px solid black;
    padding: 5px 10px;
    position: relative;
    top: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .descriptor {
    text-align: center;
    margin: 0 auto;
  }
}